*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 500px;
    height: 600px;
    border: 1px solid black;
    margin: 2rem auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.top{
    width: 100%;
    height: auto;
    border: 1px solid brown;
    padding: 10px;
    margin-bottom: 10px;
}

.bottom{
    width: 100%;
    flex-grow: 1;
    border: 1px solid brown;
    padding: 10px;
}