#rating {
    display: flex;

}

.star {
    margin: 2px 4px;
    font-size: large;
}

.star.selected {
    color: yellow;
}

.star.halfSelected {
    color: transparent;
    background: linear-gradient(to right, yellow 50%, black 50%);
    -webkit-background-clip: text;
    background-clip: text;
}